<!DOCTYPE html>
<html ng-app="app">

<head>
    <!-- bower:css -->
    <link rel="stylesheet" href="app/style.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->

    <!-- inject:css -->
    <!-- endinject -->
    <meta charset="utf-8">
    <title>TodoAPP</title>
</head>
<div align="center">
    <h1>Todo List App</h1>
</div>
<hr>

<body ng-controller="TodoController as todoCtrl">

    <div id="container" class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label>Add Task</label><br>
                <input type="text" class="form-control" ng-model="todoCtrl.text"></input>
            </div>
            <br><br>
            <div class="form-group">
                <label>Priority</label><br>
                <!-- <value> as <text> for <current-item> in <collection>-->
                <select ng-model="todoCtrl.selectedPriority" class="form-control" ng-options="priority for priority in todoCtrl.priorities"></select>
                <button align="center" class="btn btn-primary form-control" type="button" ng-click="todoCtrl.click()">Add Item</button>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
    <!-- <pre>{{todoCtrl.newTodo | json}}</pre>
    <pre> {{todoCtrl.todos | json}}</pre> -->
    <hr>
    <div align="center">
        <button class="btn btn-primary" type="button" ng-click="todoCtrl.sortField = 'text'">order by Name</button>
        <button class="btn btn-primary" type="button" ng-click="todoCtrl.sortField = '-priority'">Low Priority</button>
        <button class="btn btn-primary" type="button" ng-click="todoCtrl.sortField = 'priority'">Hi Priority</button>
        <table class="table table-striped">
            <tr>
                <th></th>
                <th> Thing To Do!</th>
                <th> Priority Level</th>
                <th></th>
            </tr>
            <tr ng-repeat="item in todoCtrl.todos |orderBy: todoCtrl.sortField">
                <td>{{ $index +1}}</td>
                <td>{{ item.text }}</td>
                <td>{{ todoCtrl.GetPriorityText(item.priority)}}</td>
                <td><img src="app/images/delete.png" class="icon" ng-click="todoCtrl.remove($index, item)"></td>
            </tr>
        </table>

        <!-- <ul align="center" class="list-group">
        <li ng-repeat="item in todoCtrl.todos |orderBy: todoCtrl.sortField" class={{item.priority.style}}>
            {{item.text}}-{{item.priority}}
        </li>
    </ul> -->
    </div>
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower  -->

    <!-- inject:js -->
    <script src="app/app.module.js"></script>
    <script src="app/todo/todo.controller.js"></script>
    <!-- endinject -->
    <script src="app/todo/todo.factory.js"></script>

</body>

</html>
